# Auth.js (next-auth) - 用于加密 JWT/session，必填。生成: npx auth secret
AUTH_SECRET=

# Turso Database URL
TURSO_DATABASE_URL=libsql://your-db.io
TURSO_DATABASE_AUTH_TOKEN=eyJhb****your-token

# 远程接口地址
NEXT_PUBLIC_API_BASE_URL=https://jsonplaceholder.typicode.com/

DEEPSEEK_API_KEY=sk-your-api-key